<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body style="color:Black; background-color: #ccccb3;">

<div th:replace="fragments/header :: top-navbar"></div>

<div class="container mt-3">
    <div th:if="${error}" th:text="${error}" class="p-2 mb-3 bg-warning"></div>
    <form method="post" action="/register">
        <div class="card ml-auto mr-auto" style="max width: 600px;">
            <div class="card-header">
                Регистрация
            </div>

            <div class="card-body">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control from-control-sm" name="email" id="email"
                           placeholder="test.email@site.com">
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control from-control-sm" name="password" id="password">
                </div>

                <div class="form-group">
                    <label for="name">Имя</label>
                    <input type="text" class="form-control from-control-sm" name="name" id="name">
                </div>

                <div class="form-group">
                    <label for="lastname">Фамилия</label>
                    <input type="text" class="form-control from-control-sm" name="lastname" id="lastname">
                </div>
            </div>
            <div class="card-footer">
                <a href="/login" class="btn btn-small btn-secondary">Войти</a>
                <a href="/register/users" class="btn btn-outline-success">Пользователи</a>
                <button type="submit" class="btn btn-success float-right">Зарегистрироваться</button>
            </div>
        </div>
    </form>

</div>

</body>
</html>