<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Crypto Win</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body style="color:Black; background-color: #ccccb3;">
<div th:replace="fragments/header :: top-navbar"></div>

<div class="container mt-3">
    <form method="post" action="/register">
        <div class="card ml-auto mr-auto" style="max width: 600px;">
            <div class="card-header">
                <h5 th:text="Форма оформления формления подписки на валюту + ${coin.getNameOfCoin()}"></h5>
            </div>


            <div class="card-body">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control from-control-sm" name="email" id="email"
                           placeholder="test.email@site.com">
                </div>

                </div>
            </div>
            <div class="card-footer">
                <a href="/login" class="btn btn-small btn-secondary">Войти</a>
                <a href="/register/users" class="btn btn-outline-success">Пользователи</a>
                <button type="submit" class="btn btn-success float-right">Зарегистрироваться</button>
            </div>


        </div>
    </form>

</div>

</body>
</html>