<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Crypto Win</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body style="color:Black; background-color: #ccccb3;">
<div th:replace="fragments/header :: top-navbar"></div>


<div class="container mt-3">

    <th:block th:if="${error}">
        <th:block th:switch="${error}">

            <div th:case="incorrect" class="alert alert alert-dismissible fade show" style="background-color: #FFC0CB"
                 role="alert">
                <h4 class="alert-heading">Возникла ошибка</h4>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p class="lead">Неверно введены ключевые данные!</p>
                <hr class="my-4">
                <p class="mb-0">Попробуйте еще раз.</p>
            </div>

            <div th:case="exist" class="alert alert alert-dismissible fade show" style="background-color: #F0E68C"
                 role="alert">
                <h4 class="alert-heading">Возможно, вы ошиблись</h4>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p class="lead" th:text="'Вы уже подписаны на ' + ${coin.getNameOfCoin()}"></p>
                <hr class="my-4">
                <p class="mb-0">Чтобы перейти к списку своих подписок перейдите на вкладку <a href="/userProfile" class="alert-link">
                    мои подписки.</a></p>
            </div>

            <div th:case="success" class="alert  alert-dismissible fade show" style="background-color: #98FB98"
                 role="alert">
                <h4 class="alert-heading">Операция завершена успешно</h4>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p class="lead" th:text="'Теперь вы подписанны на валюту ' + ${coin.getNameOfCoin()}"></p>
                <hr class="my-4">
                <p class="mb-0">Чтобы перейти к списку своих подписок перейдите на вкладку
                    <a href="/userProfile" class="alert-link">мои подписки</a>.</p>
            </div>
        </th:block>
    </th:block>

    <div class="jumbotron" style="background-color: #E0FFFF">
        <h1 class="display-4">Раздел подписок</h1>
        <p class="lead">Узнавайте первыми об изменении курса выбранной криптовалюты. Совершайте выгодные покупки и
            получайте прибыль!</p>
        <hr class="my-4">
        <p>В этом разделе вы можете оформить подписку. При выборе криптовалюты вы даете согласие на
            получение уведомлений о достижении ее курса максимальной, минимальной стоимости, а также желаемой разницы
            между покупкой и продажей.</p>
    </div>

    <form method="post" action="/subscription">

        <div class="card mt-1 mb-3">
            <div class="card-header">
                <h5 class="mr-auto p-3">Подписка на изменение курса</h5>
            </div>

            <div class="card-body" style="background-color: #FFFFFF">
                <div class="form-group">
                    <label for="coinType">Выберите валюту</label>
                    <select class="custom-select" required name="coinType" id="coinType">
                        <option selected></option>
                        <option th:each="coinType : ${coins}"
                                th:value="${coinType}"
                                th:text="${coinType.getNameOfCoin()}"
                        ></option>
                    </select>
                    <div class="invalid-feedback">Выберите валюту из списка</div>
                </div>

                <div class="form-group">
                    <label for="minResult">Введите минимальную цену покупки в $ (сумма ввода): </label>
                    <input type="text" class="form-control from-control-sm" name="minResult" id="minResult">
                </div>

                <div class="form-group">
                    <label for="maxResult">Введите максимальную цену продажи в $ (сумма вывода): </label>
                    <input type="text" class="form-control from-control-sm" name="maxResult" id="maxResult">
                </div>

                <div class="form-group">
                    <label for="profit">Введите разницу между ценой покупки и продажи в $, которую готовы рассматривать для совершения торгов: </label>
                    <input type="text" class="form-control from-control-sm" name="profit" id="profit">
                </div>
            </div>

            <div class="card-footer" style="background-color: #FFFFFF">
                <div class="d-flex align-items-center">

                    <button th:if="${user}" type="submit"
                            class="btn btn-success float-right">Оформить подписку
                    </button>
                    <a th:unless="${user}" href="/subscription?error=error"
                       class="btn btn-success float-right"> Оформить подписку</a>

                </div>
            </div>
        </div>
    </form>
</div>


</body>
</html>