<head th:fragment="page-start">
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<div th:fragment="top-navbar">
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #009933;">
        <a class="navbar-brand" href="/">CryptoBenefit</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/charts">Архив</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/subscription">Подписки</a>
                </li>
            </ul>
            </ul>
            <ul class="navbar-nav">
                <th:block th:if="${user}">
                    <div>
                        <span class="badge badge-success mr-2" th:text="'Вошли как ' + ${user.name}+ ' ' + ${user.lastName}"></span>
                    </div>
                    <a class="btn btn-sm btn-danger" href="/logout">Выйти</a>
                </th:block>
                <th:block th:if="${user==null}">
                    <a class="btn btn-sm btn btn-secondary mr-2" href ="/register">Зарегистрироваться</a>
                    <a class="btn btn-sm btn-success" href ="/login">Войти</a>
                </th:block>
            </ul>
        </div>
    </nav>
</div>