<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta name="robots" content="noindex, nofollow">
    <title>About us</title>
    <div th:replace="fragments/header :: page-start"></div>
</head>
<body style="color:Black; background-color: #e7e8e8;">

<div th:replace="fragments/header :: top-navbar"></div>

<div class="container-fluid my-2">
    <div class="card justify-content-center border-success my-2" style="background-color: #f4f4f4;">
        <h3 class="text-center mx-4 "> Выпускники школы GoIT 2019</h3>

        <div class="card-deck justify-content-center">
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-2">
                    <div class="card mx-2 h-100 border-success" style="width: 600px;">
                        <div class="card-body text-justify">
                            <h5 class="card-title text-center">Наталия Павелко</h5>
                            <p class="card-text ">Меня всегда интересовал мир магии программирования.
                                С каждым шагом обучения в GoIT, магии становилось всё меньше, а понимания всё
                                больше. Сталкиваясь с интересными задачами получила ценные знания и сумела их
                                закрепить на практике, что вселило веру в свои силы и желание ещё больше совершенствоваться.</p>
                        </div>
                        <div class="row">
                            <div class="col mb-2">
                                <p class="card-text text-center">[E-mail]: <a class="font-weight-normal"
                                                                              href="mailto:nataly.pavelko@gmail.com">nataly.pavelko@gmail.com</a>
                                </p>
                                <p class="card-text text-center">[tel]: <a class="font-weight-normal"
                                                                           href="tel: +38638372266">+38(063)8372266</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-2">
                    <div class="card mx-2 h-100 border-success" style="width: 600px;">
                        <div class="card-body text-justify">
                            <h5 class="card-title text-center">Ксения Таранцова</h5>
                            <p class="card-text">Безумно рада, что оказалась в нужное время в нужном месте.
                                Всё совпало и я, давно мечтав, наконец-то стала частью увлекательного мира IT.
                                Дальше-больше. Спасибо GOIT-школе, любовь к которой была от начала и до конца. Во всем.</p>
                        </div>
                        <div class="row">
                            <div class="col mb-2">
                                <p class="card-text text-center">[E-mail]: <a class="font-weight-normal"
                                                                              href="mailto:kseniya.tarantsova@gmail.com">kseniya.tarantsova@gmail.com</a>
                                </p>
                                <p class="card-text text-center">[tel]: <a class="font-weight-normal"
                                                                           href="tel: +380502088418">+38(050)2088418</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-2">
                    <div class="card mx-2 h-100 border-success" style="width: 600px;">
                        <div class="card-body text-justify">
                            <h5 class="card-title text-center">Екатерина Грицаенко</h5>
                            <p class="card-text">Рада, что решила пойти именно в GoIT на направление Java. И,
                                несмотря на то, что совмещать учёбу в КПИ и курсы было довольно сложно, я ни одной
                                минуты не жалею о своем решении и благодарна преподавателям, за возможность выйти на
                                абсолютно новый уровень программирования.</p>
                        </div>
                        <div class="row">
                            <div class="col mb-2">
                                <p class="card-text text-center">[E-mail]: <a class="font-weight-normal"
                                                                              href="mailto:ekatereanagricaenko@gmail.com">ekatereanagricaenko@gmail.com</a>
                                </p>
                                <p class="card-text text-center">[tel]: <a class="font-weight-normal"
                                                                           href="tel: +380683383852">+38(068)3383852</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-2">
                    <div class="card mx-2 h-100 border-success" style="width: 600px;">
                        <div class="card-body text-justify">
                            <h5 class="card-title text-center">Святослав Кавун</h5>
                            <p class="card-text text-justify">Студент КПИ, в начале обучения из знаний, было
                                только понимание, что такое программирование. Выбрал направление Java(о чём не пожалел), так как заинтересовался back-end
                                разработкой.</p>
                        </div>
                        <div class="row">
                            <div class="col mb-2">
                                <p class="card-text text-center">[E-mail]: <a class="font-weight-normal"
                                                                              href="mailto:gaevoy708@gmail.com">gaevoy708@gmail.com</a>
                                </p>
                                <p class="card-text text-center">[tel] : <a class="font-weight-normal"
                                                                            href="tel: +380977874487">+38(097)7874487</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>