<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="color:Black; background-color: #e7e8e8;">

<div th:replace="fragments/header :: top-navbar"></div>
<p></p>
<div class="text-center mx-4" ><h5>Выпускники школы GoIT 2019</h5><p></p>

    <div class="container-fluid">
        <div class="card-deck ">
            <div class="row mx-3 no-gutters">
                <div class="col-md-6 col-lg-4 mb-2">
                    <div class="card mx-5 h-100" style="width: 500px;"><p></p>
                        <!--<img class="card-img-top" src="" width="100" height="250" hspace=10 vspace=10>-->
                        <h5 class="card-title<!-- text-center-->">Наталия Павелко</h5>
                        <div class="card-body text-justify">
                            <p class="card-text ">Меня всегда интересовал мир магии программирования.
                                С каждым шагом обучения в GoIT, магии становилось всё меньше, а понимания всё больше. Сталкиваясь с интересными задачами получила ценные знания и сумела их закрепить на практике,
                                что вселило веру в свои силы и желание ещё больше совершенствоваться.</p>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-6">
                                <p class="card-text text-center">[E-mail]: <a class="font-weight-normal"
                                                                              href="mailto:nataly.pavelko@gmail.com">nataly.pavelko@gmail.com</a></p>
                                <p class="card-text text-center">[tel]: <a class="font-weight-normal" href="tel: +38638372266">+38(063)8372266</a></p><p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mx-3 no-gutters">
                <div class="col-md-6 col-lg-4 mb-2">
                    <div class="card mx-5 h-100" style="width: 500px;"><p></p>
                        <h5 class="card-title text-center">Ксения Таранцова</h5>
                        <div class="card-body text-justify">
                            <p class="card-text">Безумно рада, что оказалась в нужное время в нужном месте.
                                Всё совпало и я, давно мечтав, наконец-то стала частью увлекательного мира IT.
                                Дальше-больше.
                                Спасибо GOIT-школе, любовь к которой была от начала и до конца. Во всем.</p>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-6">
                                <p class="card-text text-center">[E-mail]: <a class="font-weight-normal"
                                                                  href="mailto:kseniya.tarantsova@gmail.com">kseniya.tarantsova@gmail.com</a></p>
                                <p class="card-text text-center">[tel]: <a class="font-weight-normal" href="tel: +380502088418">+38(050)2088418</a></p> <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mx-3 no-gutters">
                <div class="col-md-6 col-lg-4 mb-2">
                    <div class="card mx-5 h-100" style="width: 500px;"><p></p>
                        <h5 class="card-title text-center">Екатерина Грицаенко</h5>
                        <div class="card-body text-justify">
                            <p class="card-text"></p>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-6">
                                <p class="card-text text-center">[E-mail]: <a class="font-weight-normal"
                                                                  href="mailto:ekatereanagricaenko@gmail.com">ekatereanagricaenko@gmail.com</a></p>
                                <p class="card-text text-center">[tel]: <a class="font-weight-normal" href="tel: +380683383852">+38(068)3383852</a></p><p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mx-3 no-gutters">
                <div class="col-md-6 col-lg-4 mb-2">
                    <div class="card mx-5 h-100" style="width: 500px;"><p></p>
                        <h5 class="card-title text-center">Святослав Кавун</h5>
                        <div class="card-body text-justify">
                            <p class="card-text text-justify">Студент КПИ, в начале обучения из знаний, было только
                                понимание, что такое программирование.
                                Выбрал направление Java(о чём не пожалел), так как заинтересовался back-end
                                разработкой.</p>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-6">
                                <p class="card-text <!--text-center-->">[E-mail]: <a class="font-weight-normal" href="mailto:gaevoy708@gmail.com">gaevoy708@gmail.com</a></p>
                                <p class="card-text <!--text-center-->">[tel] : <a class="font-weight-normal" href="tel: +380977874487">+38(097)7874487</a></p><p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>