<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><p th:text="'Выгодные варианты покупки и продажи криптовалюты '+${cryptCoin.getNameOfCoin()}"/></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="http://bootstraptema.ru/plugins/2018/irs/ion.rangeSlider.css"/>
    <link rel="stylesheet" href="http://bootstraptema.ru/plugins/2018/irs/ion.rangeSlider.skin.css"/>

    <style>

        .btn-round-lg{
        border-radius: 25px;}

    </style>

</head>
<body style="color:Black; background-color: #ccccb3;">

<div th:replace="fragments/header :: top-navbar"></div>

<div class="container-fluid mt-3 mb-3">
    <div class="card card-sm">

        <div class="card-header">
            <div class="d-flex align-items-center">
                <h1 class="mr-auto p-3"
                    th:text="'Выгодные варианты покупки и продажи криптовалюты '+${cryptCoin.getNameOfCoin()}"></h1>
            </div>
        </div>

        <div class="card-body">
            <h4><p class="text-center"><b>ТОП-выгодных вариантов</b></p></h4>
            <table class="table table-bordered table-sm text-center">
                <thead>
                <tr class="table-success">
                    <th>Биржа для ввода</th>
                    <th>Смогу купить coins за:</th>
                    <th>Биржа для вывода</th>
                    <th>Смогу продать coins за:</th>
                    <th>Прибыль ($)</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="betterOffer : ${betterOffers.keySet()}">
                    <td th:text="${betterOffer.get(1).getExchange().getName()}"></td>
                    <td>
                        <span th:text="'$'+${betterOffer.get(1).getSellingRate()}"/>
                        <button type="button" class="btn btn-sm btn-light btn-outline-success" data-toggle="modal"
                                data-target="#myModalSell"
                                th:attrappend="data-target=${betterOffer.get(1).getExchange()}">
                            + Комиссия
                        </button>
                        <!-- Modal -->
                        <div class="modal fade bd-example-modal-lg" tabindex="-1"
                             aria-labelledby="myLargeModalLabel" aria-hidden="true" id="myModalSell" role="dialog"
                             th:attrappend="id=${betterOffer.get(1).getExchange()}">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">
                                            <span th:text="${betterOffer.get(1).getExchange().getName()} + ' условия и комиссия'"></span>
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <iframe th:src="${betterOffer.get(1).getExchange().getLinkWithDetails()}"
                                                style="width:100%; height:100%;margin:0px;border:0px"></iframe>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>

                    <td th:text="${betterOffer.get(0).getExchange().getName()}"></td>
                    <td>
                        <span th:text="'$'+${betterOffer.get(0).getBuyingRate()}"/>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-sm btn-light btn-outline-success" data-toggle="modal"
                                data-target="#myModalBuy"
                                th:attrappend="data-target=${betterOffer.get(0).getExchange()}">
                            + Комиссия
                        </button>
                        <!-- Modal -->
                        <div class="modal fade bd-example-modal-lg p-3" tabindex="-1"
                             aria-labelledby="myLargeModalLabel" aria-hidden="true" id="myModalBuy" role="dialog"
                             th:attrappend="id=${betterOffer.get(0).getExchange()}">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">
                                            <span th:text="${betterOffer.get(0).getExchange().getName()} + ' условия и комиссия'"></span>
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <iframe th:src="${betterOffer.get(0).getExchange().getLinkWithDetails()}"
                                                style="width:100%; height:100%;margin:0px;border:0px">
                                        </iframe>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>

                    <td th:text="'$'+${betterOffers.get(betterOffer).doubleValue()}"></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <p class="font-weight-light">*Прибыль указана без учета комиссии.</p>
            <p></p>

            <!-- FORMS -->
            <form method="get" action="/better-offer" th:object="${formCalc}">
                <input type="hidden" th:value="${cryptCoin}" name="cryptCoin"/>

                <div class="card mt-1 mb-3">
                    <div class="card-header">
                        <div class="row">
                            <div class="col align-self-center">
                                <h5><p class="text-center">КАЛЬКУЛЯТОР РАСЧЕТА ПРИБЫЛИ С УЧЕТОМ КОМИССИЙ</p></h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" style="background-color: #FFFFFF">
                        <div class="form-group">
                            <label for="wantToBuy"><b>СУММА ВВОДА, $</b></label>
                            <input type="text" class="form-control" name="wantToBuy" id="wantToBuy"
                                   placeholder="Введите сумму *"
                                   th:value="${wantToBuy}" required>
                            <div class="invalid-feedback">
                                Пожалуйста, введите сумму.
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                        <p class="text-center"><b>ДАННЫЕ О ВВОДЕ $ ДЛЯ ПОКУПКИ КРИПТОВАЛЮТЫ</b></p>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="exchangeToBuy">БИРЖА ВВОДА $ И ПОКУПКИ КРИПТОВАЛЮТЫ</label>
                                            <select class="custom-select" name="exchangeToBuy" id="exchangeToBuy"
                                                    required>
                                                <option value="">-- выберите из списка --</option>
                                                <option th:each="item: ${items}"
                                                        th:value="${item}"
                                                        th:field="*{exchangeToBuy}"
                                                        th:text="${item.getName()}"
                                                ></option>
                                            </select>
                                            <div class="invalid-feedback">Пожалуйста, выберите биржу.</div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="feeTaker">КОМИССИЯ ЗА ВВОД, $</label>
                                                <input type="text" class="form-control" name="feeTaker" id="feeTaker"
                                                       placeholder="Введите сумму *"
                                                       th:field="*{feeTaker}">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="addFeeTaker">ДОП. КОМИССИЯ (ЕСЛИ ЕСТЬ), $</label>
                                                <input type="text" class="form-control" id="addFeeTaker"
                                                       name="addFeeTaker"
                                                       placeholder="Введите сумму *"
                                                       th:field="*{addFeeTaker}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="rangeBuy">ТОРГОВАЯ КОМИССИЯ, %</label>
                                            <input type="text" id="rangeBuy" name="rangeBuy"
                                                   th:field="*{rangeBuy}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                        <p class="text-center"><b>ДАННЫЕ О ПРОДАЖЕ КРИПТОВАЛЮТЫ ДЛЯ ВЫВОДА $</b></p>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="exchangeToSell">БИРЖА ПРОДАЖИ КРИПТОВАЛЮТЫ И ВЫВОДА $</label>
                                            <select class="custom-select" name="exchangeToSell" id="exchangeToSell"
                                                    required>
                                                <option value="">-- выберите из списка --</option>
                                                <option th:each="item: ${items}"
                                                        th:value="${item}"
                                                        th:field="*{exchangeToSell}"
                                                        th:text="${item.getName()}"
                                                ></option>
                                            </select>
                                            <div class="invalid-feedback">Пожалуйста, выберите биржу.</div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="feeMaker">КОМИССИЯ ЗА ВЫВОД, $</label>
                                                <input type="text" class="form-control" id="feeMaker" name="feeMaker"
                                                       placeholder="Введите сумму *" th:field="*{feeMaker}">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="addFeeMaker">ДОП. КОМИССИЯ (ЕСЛИ ЕСТЬ), $</label>
                                                <input type="text" class="form-control" id="addFeeMaker"
                                                       name="addFeeMaker"
                                                       placeholder="Введите сумму *"
                                                       th:field="*{addFeeMaker}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="rangeSell"><b>ТОРГОВАЯ КОМИССИЯ, %</b></label>
                                            <input type="text" id="rangeSell" name="rangeSell"
                                                   th:field="*{rangeSell}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-center mb-4">
                        <div class="col align-self-center col-2 mb-3">
                            <button type="submit" class="btn btn-success btn-round-lg btn-lg">
                                <b>ПОСЧИТАТЬ</b></button>
                        </div>
                    </div>
                    <p></p>
                    <div class="card-footer">
                        <div class="form-group row">
                            <label for="sumBuyTotal" class="col-sm-4 col-form-label"><b><i>Сумма ИТОГО за покупку и
                                ввод:</i></b></label>
                            <div class="col-sm-8">
                                <input type="text" readonly class="form-control-plaintext" id="sumBuyTotal"
                                       name="sumBuyTotal" th:field="*{sumBuyTotal}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="sumSellTotal" class="col-sm-4 col-form-label"><b><i>Сумма ИТОГО за продажу и
                                вывод:</i></b></label>
                            <div class="col-sm-8">
                                <input type="text" readonly class="form-control-plaintext" id="sumSellTotal"
                                       name="sumSellTotal" th:field="*{sumSellTotal}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="profitTotal" class="col-sm-4 col-form-label"><b><i>BENEFIT:</i></b></label>
                            <div class="col-sm-8">
                                <input type="text" readonly class="form-control-plaintext" id="profitTotal"
                                       name="profitTotal" th:field="*{profitTotal}">
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
        <div class="card-footer">
            <a href="/" class="btn btn-light btn-outline-success">Назад</a>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://bootstraptema.ru/plugins/2018/irs/ion.rangeSlider.min.js"></script>

</body>
</html>

<script>
$("#rangeBuy").ionRangeSlider({
  grid: true,
 min: 0.0,
 max: 1.0,
 step: 0.1,
 prettify_enabled: true
 });

$("#rangeSell").ionRangeSlider({
  grid: true,
min: 0.0,
 max: 1.0,
 step: 0.1,
 prettify_enabled: true
 });











</script>