<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Better Offer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body style="color:Black; background-color: #ccccb3;">

<div th:replace="fragments/header :: top-navbar"></div>
<div class="container mt-3">
    <div class="card card-sm">

        <div class="card-header">
            <div class="d-flex align-items-center">
                <h5 class="mr-auto p-3" th:text="${cryptCoinName}"></h5>
            </div>
        </div>

        <div class="card-body">

            <table class="table table-bordered table-sm text-center">
                <thead>
                <tr style="background-color: #CBFA7B;">
                    <th>Биржа покупки</th>
                    <th>Покупа</th>
                    <th>Биржа продажи</th>
                    <th>Продажа</th>
                    <th>Выгода</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="betterOffer : ${betterOffers.keySet()}">
                    <td th:text="${betterOffer.get(0).getExchange().getName()}"></td>
                    <td th:text="${betterOffer.get(0).getBuyingRate()}"></td>
                    <td th:text="${betterOffer.get(1).getExchange().getName()}"></td>
                    <td th:text="${betterOffer.get(1).getSellingRate()}"></td>
                    <td th:text="${betterOffers.get(betterOffer).doubleValue()}"></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <a href="/" class="btn btn-info">Назад</a>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>