<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Better Offer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body style="color:Black; background-color: #ccccb3;">

<div th:replace="fragments/header :: top-navbar"></div>
<div class="container mt-3">
    <div class="card card-sm">

        <div class="card-header">
            <div class="d-flex align-items-center">
                <h5 class="mr-auto p-3" th:text="${cryptCoin.getNameOfCoin()}"></h5>
            </div>
        </div>

        <div class="card-body">

            <form method="get" action="/better-offer">
                <input type="hidden" th:value="${cryptCoin}" name="cryptCoin"/>

                <div class="form-row align-items-center mb-4">
                    <div class="col-auto mb-3">
                        <label for="wantToBuy" class="col-form-label">Сумма ввода для покупки, $</label>
                        <input type="text" class="form-control" name="wantToBuy" id="wantToBuy">
                    </div>
                    <div class="col-auto mt-4">
                        <button type="submit" class="btn btn-success">Пересчитать</button>
                    </div>
                </div>
            </form>

            <table class="table table-bordered table-sm text-center">
                <thead>
                <tr class="table-success">
                    <th>Биржа для ввода</th>
                    <th>Смогу купить за:</th>
                    <th>Биржа для вывода</th>
                    <th>Смогу продать за:</th>
                    <th>Прибыль ($)</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="betterOffer : ${betterOffers.keySet()}">
                        <td th:text="${betterOffer.get(1).getExchange().getName()}"></td>
                        <td>
                            <span th:text="'$'+${betterOffer.get(1).getSellingRate()}"/>
                            <button type="button" class="btn btn-sm btn-light btn-outline-success" data-toggle="modal" data-target="#myModalSell" th:attrappend="data-target=${betterOffer.get(1).getExchange()}">
                                + Комиссия
                            </button>
                            <!-- Modal -->
                            <div class="modal fade bd-example-modal-xl" tabindex="-1"
                                 aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" id="myModalSell" role="dialog" th:attrappend="id=${betterOffer.get(1).getExchange()}"  >
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">
                                                <span th:text="${betterOffer.get(1).getExchange().getName()} + ' условия и комиссия'"></span>
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <iframe th:src="${betterOffer.get(1).getExchange().getLinkWithDetails()}"
                                                    width="1100" height="600"></iframe>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>

                        <td th:text="${betterOffer.get(0).getExchange().getName()}"></td>
                        <td>
                            <span th:text="'$'+${betterOffer.get(0).getBuyingRate()}"/>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-sm btn-light btn-outline-success" data-toggle="modal" data-target="#myModalBuy" th:attrappend="data-target=${betterOffer.get(0).getExchange()}">
                                + Комиссия
                            </button>
                            <!-- Modal -->
                            <div class="modal fade bd-example-modal-xl" tabindex="-1"
                                 aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" id="myModalBuy" role="dialog" th:attrappend="id=${betterOffer.get(0).getExchange()}"  >
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">
                                                <span th:text="${betterOffer.get(0).getExchange().getName()} + ' условия и комиссия'"></span>
                                            </h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <iframe th:src="${betterOffer.get(0).getExchange().getLinkWithDetails()}"
                                                    width="1100" height="600">
                                            </iframe>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>

                        <td th:text="'$'+${betterOffers.get(betterOffer).doubleValue()}"></td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <p class="font-weight-light">*Прибыль указана без учета комиссии.</p>
        </div>
        <div class="card-footer">
            <a href="/" class="btn btn-light btn-outline-success">Назад</a>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>