<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Crypto Win</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--    <link rel="stylesheet" href="http://bootstraptema.ru/plugins/2015/bootstrap3/bootstrap.min.css"/>-->
    <link type="text/css" rel="StyleSheet" href="http://bootstraptema.ru/plugins/2016/shieldui/style.css"/>
    <script src="http://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="http://bootstraptema.ru/plugins/2016/shieldui/script.js"></script>


</head>


<body style="color:Black; background-color: #e7e8e8;">

<div th:replace="fragments/header :: top-navbar"></div>

<div class="container-fluid my-4" >


    <th:block th:switch="${error}">
        <div th:case="error" class="alert alert alert-dismissible fade show"
             style="background-color: #FFC0CB; width: 1100px "
             role="alert">
            <h4 class="alert-heading">Возникла ошибка</h4>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <p class="lead">Неверно введены ключевые данные!</p>
            <hr class="my-4">
            <p class="mb-0">Попробуйте еще раз.</p>
            <p class="mb-0">Попробуйте еще раз. Пример правильного заполнения приведен ниже.</p>
        </div>
    </th:block>

    <!--            buttons to choose options-->
    <form method="post" action="/charts">
        <div class="card" >

            <div class="card-header text-center">
                <th:block th:switch="${state}">
                    <h1 th:unless="${error}">
                        <a>График</a>
                        <a th:case="sell"> продажи </a>
                        <a th:case="buy"> покупки </a>
                        <a th:text="${coin}"></a>
                    </h1>
                </th:block>

            </div>

            <div class="card-body" style="background-color: #FFFFFF">

                <div class="row">
                    <div class="col">
                        <div class="btn-group btn-block">
                            <select name="state" id="state" class="form-control form-control-lg">
                                <th:block th:switch="${state}">
                                    <option th:case="buy" th:value="buy">Курс покупки</option>
                                    <option th:case="sell" th:value="sell">Курс продажи</option>
                                    <option th:case="null" th:value="">Покупка или продажа</option>
                                    <option th:if="${!state.equals('buy')}" th:value="buy">Курс покупки</option>
                                    <option th:if="${!state.equals('sell')}" th:value="sell">Курс продажи</option>
                                </th:block>


                            </select>
                        </div>
                    </div>

                    <div class="col">
                        <div class="btn-group btn-block">
                            <select name="coinType" id="coinType" class="form-control form-control-lg">

                            <option th:unless="${coin}" th:value="''">Выбрать валюту</option>
                            <option th:if="${coin!=''}" th:value="${coin}" th:text="${coin}"></option>
                            <option th:each="coinType : ${coins}" th:unless="${coinType.getNameOfCoin()} == ${coin}"
                                    th:value="${coinType.getNameOfCoin()}"
                                    th:text="${coinType.getNameOfCoin()}"
                            ></option>


                            </select>
                        </div>
                    </div>

                    <div class="col">
                        <div class="btn-group btn-block">
                            <select name="exchangeType" id="exchangeType"
                                    class="form-control form-control-lg">

                                <option th:unless="${exchange}" th:value="''">Выбрать биржу</option>
                                <option th:if="${exchange!=''}" th:value="${exchange}" th:text="${exchange}"></option>
                                <option th:each="exchangeType : ${exchanges}"
                                        th:unless="${exchangeType.getName()} == ${exchange}"
                                        th:value="${exchangeType.getName()}"
                                        th:text="${exchangeType.getName()}"></option>



                            </select>
                        </div>
                    </div>

                    <div class="col">
                        <div class="btn-group btn-block">
                            <select name="timeType" id="timeType" class="form-control form-control-lg">

                                <option th:unless="${time}" th:value="''">Выбрать временной промежуток<</option>
                                <option th:if="${time!=''}" th:value="${time}" th:text="${time}"></option>
                                <option th:each="timeType : ${times}"
                                        th:unless="${timeType.getName()} == ${time}"
                                        th:value="${timeType.getName()}"
                                        th:text="${timeType.getName()}"></option>


                            </select>
                        </div>
                    </div>

                </div>

            </div>


            <div class="card-footer text-center">
                <div class="btn-group btn-block">
                    <button type="submit" class="btn btn-light btn-outline-success ">Подтвердить</button>
                </div>
            </div>


        </div>
    </form>

    <card class="card" style="width: 1100px">

        <div class="card-header text-center">
            <h3 th:unless="${error}" th:text=" 'Данные на бирже ' + ${exchange} + ' ' + ${time}"></h3>
            <h3 th:if="${error}">Ошибка ввода</h3>
        </div>

        <div class="card-body">

            <div class="card border-info text-center">
                <div class="card-body">
                    <div th:if="${error==null AND crypto != null}" id="container"
                         style="height: 400px; min-width: 1000px"></div>
                    <div th:if="${error}">
                        <h2 class="text">Извините, но недостаточно данных для отображения графика и таблицы</h2>
                    </div>

                </div>
            </div>


            <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
            <script src="https://code.highcharts.com/stock/highstock.js"></script>
            <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
            <script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/d3/2.10.0/d3.v2.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
            <script>

console.log($(document.getElementById("state")));

var arr = document.querySelectorAll('h1')[0].innerText.split(" ");
console.log(arr);
var coin = arr[2];
console.log(coin);
var state = arr[1];
console.log(state)
arr = document.querySelectorAll('h3')[0].innerText.split(" ");
var exchange = arr[3];
console.log(arr[3])
arr = arr.slice(4,7);
console.log(arr);
var time = arr.join(" ");



$.getJSON('/data?coinType=' + coin + '&exchangeType=' + exchange +
'&timeType=' + time + '&state=' + state , function (main) {

var data = new Array();
for (var i = 0; i < main.length; i++) {
data[i] = new Array(2);

data[i][0] = (new Date(main[i][0])).getTime();
data[i][1] = main[i][1];
}

data.sort();


      Highcharts.stockChart('container', {


      rangeSelector: {
            selected: 1
        },

        title: {
            text: 'Изменение курса'
        },

        series: [{
            name: 'Прокрутите, чтобы увидеть следующую/предыдущую часть графика',
            data: data,
            type: 'area',
            threshold: null,
            tooltip: {
                valueDecimals: 2
            },
            fillColor: {
                linearGradient: {
                    x1: 0,
                    y1: 0,
                    x2: 0,
                    y2: 1
                },
                stops: [
                    [0, Highcharts.getOptions().colors[0]],
                    [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                ]
            }
        }]
    });
});




            </script>

        </div>
    </card>
</div>


</body>
</html>