<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Crypto Win</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--    <link rel="stylesheet" href="http://bootstraptema.ru/plugins/2015/bootstrap3/bootstrap.min.css"/>-->
    <link type="text/css" rel="StyleSheet" href="http://bootstraptema.ru/plugins/2016/shieldui/style.css"/>
    <script src="http://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="http://bootstraptema.ru/plugins/2016/shieldui/script.js"></script>

</head>


<body>
<body style="color:Black; background-color: #ccccb3;"></body>

<div th:replace="fragments/header :: top-navbar"></div>

<div class="container-fluid" >
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Saved reports</span>
                    <a class="d-flex align-items-center text-muted" href="#">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text"></span>
                            Current month
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text"></span>
                            Last quarter
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text"></span>
                            Social engagement
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="file-text"></span>
                            Year-end sale
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <form method="post" action="/main/charts">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2" th:text = "${coinType}" >BTC</h1>
                <h2 class="h3" th:text="'На бирже: ' + ${exchangeType}"></h2>
                <h3 class="h4" th:text="${timeType}"></h3>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                        <select name="coinType" id="coinType" class="form-control form-control-sm">
                            <option value="">Выбрать валюту</option>
                            <option th:each="coinType : ${coins}"
                                    th:value="${coinType.getNameOfCoin()}"
                                    th:text="${coinType.getNameOfCoin()}"
                            ></option>
                        </select>
                    </div>

                    <div class="btn-group mr-2">
                        <select name="exchangeType" id="exchangeType" class="form-control form-control-sm">
                            <option value="">Выбрать биржу</option>
                            <option th:each="exchangeType : ${exchanges}"
                                    th:value="${exchangeType.getName()}"
                                    th:text="${exchangeType.getName()}"></option>
                        </select>
                    </div>

                    <div class="btn-group mr-2">
                        <select name="timeType" id="timeType" class="form-control form-control-sm">
                            <option value="">Выбрать временной промежуток</option>
                            <option th:each="timeType : ${times}"
                                    th:value="${timeType.getName()}"
                                    th:text="${timeType.getName()}"></option>
                        </select>
                    </div>

                    <div class="btn-group mr-2">
                        <button type="submit" class="btn btn-sm btn-outline-secondary">Подтвердить</button>
                    </div>
                </div>
            </div>
            </form>

            <div class="container mt-3">
                <div class="row">
                    <div class="col-md-15 col-md">

                        <!-- График -->
                        <div id="chart">

                            <script>
 $(document).ready(function () {
 $("#chart").shieldChart({
 theme: "light",
 primaryHeader: {
 text: "Курс валюты"
 },
 exportOptions: {
 image: false,
 print: false
 },
 axisX: {
 categoricalValues: ["2000", "2001", "2002", "2003", "2004", "2005", "2006", "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014"]
 },
 tooltipSettings: {
 chartBound: true,
 axisMarkers: {
 enabled: true,
 mode: 'xy'
 }
 },
 dataSeries: [{
 seriesType: 'line',
 collectionAlias: "Валюта в долларах",
 data: [100, 320, 453, 234, 553, 665, 345, 123, 432, 545, 654, 345, 332, 456, 234]
 }]
 });
 });






                            </script><!-- /.График -->

                        </div><!-- /.col-md-8 col-md-offset-2 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div>
        </main>
    </div>
</div>


</body>
</html>