<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Crypto Win</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--    <link rel="stylesheet" href="http://bootstraptema.ru/plugins/2015/bootstrap3/bootstrap.min.css"/>-->
    <link type="text/css" rel="StyleSheet" href="http://bootstraptema.ru/plugins/2016/shieldui/style.css"/>
    <script src="http://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script src="http://bootstraptema.ru/plugins/2016/shieldui/script.js"></script>

</head>


<body>
<body style="color:Black; background-color: #ccccb3;"></body>

<div th:replace="fragments/header :: top-navbar"></div>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar">
                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Возможные варианты построения</span>
                    <a class="d-flex align-items-center text-muted" href="#">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="/charts?state=buy">
                            <span data-feather="text"></span>
                            График покупок
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/charts">
                            <span data-feather="text"></span>
                            График продаж
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

            <!--            buttons to choose options-->
            <form method="post" action="/charts">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <div class="d-flex align-items-center">
                        <h1 class="mr-auto p-3" th:text="${coinType} + ' '">BTC</h1>
                    </div>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                            <select name="coinType" id="coinType" class="form-control form-control-sm">
                                <option value="">Выбрать валюту</option>
                                <option th:each="coinType : ${coins}"
                                        th:value="${coinType.getNameOfCoin()}"
                                        th:text="${coinType.getNameOfCoin()}"
                                ></option>
                            </select>
                        </div>

                        <div class="btn-group mr-2">
                            <select name="exchangeType" id="exchangeType" class="form-control form-control-sm">
                                <option value="">Выбрать биржу</option>
                                <option th:each="exchangeType : ${exchanges}"
                                        th:value="${exchangeType.getName()}"
                                        th:text="${exchangeType.getName()}"></option>
                            </select>
                        </div>

                        <div class="btn-group mr-2">
                            <select name="timeType" id="timeType" class="form-control form-control-sm">
                                <option value="">Выбрать временной промежуток</option>
                                <option th:each="timeType : ${times}"
                                        th:value="${timeType.getName()}"
                                        th:text="${timeType.getName()}"></option>
                            </select>
                        </div>

                        <div class="btn-group mr-2">
                            <button type="submit" class="btn btn-sm btn-info">Подтвердить</button>
                        </div>
                    </div>

                </div>
            </form>

            <!--   table-->
            <card class="card mt-3" style="background-color: #E0FFFF">
                <div class="card-header text-center">
                    <h3 class="mr-auto p-3" th:text=" 'Данные на бирже ' + ${exchangeType} + ' ' + ${timeType}"></h3>

                </div>

                <div class="card-body" th:if="${crypto} != null">

                    <table class="table table-bordered table-sm text-center" id="table">
                        <thead>
                        <tr>
                            <th>Цена криптвалюты в долларах</th>
                            <th>Дата и время ее достижения</th>
                        </tr>
                        </thead>
                        <tbody>

                        <th:block th:each="crypt:${crypto}">
                            <tr th:switch="${state}">
                                <td th:case="null" th:text="${crypt.getSellingRate()}">1000</td>
                                <td th:case="buy" th:text="${crypt.getBuyingRate()}">1000</td>
                                <td th:text="${crypt.getDate()}">1000</td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>


                <div class="container mt-3">
                    <div class="row">
                        <div class="col-md-15 col-md">

                            <!-- График -->

                            <div id="chart">
                                <script>
var prices = new Array();
var dates = new Array();
var table = document.getElementById('table');

for (var i = 1; i < table.rows.length; i++) {
prices[i - 1] = Number(table.rows[i].cells[0].innerHTML.replace('<td></td>', ""));
dates[i - 1] = table.rows[i].cells[1].innerHTML;
console.log(table.rows[i].cells[0]);

}

 $(document).ready(function () {

 $("#chart").shieldChart({
 theme: "light",
 primaryHeader: {
 text: "Изменение курса"
 },
 exportOptions: {
 image: false,
 print: false
 },
 axisX: {
 categoricalValues: dates,
 },
 tooltipSettings: {
 chartBound: true,
 axisMarkers: {
 enabled: true,
 mode: 'xy'
 }
 },
 dataSeries: [{
 seriesType: 'line',
 collectionAlias: "Цена в долларах",
 data: prices,
 }]
 });
 });












                                </script><!-- /.График -->

                            </div>

                            <!-- /.col-md-8 col-md-offset-2 -->
                        </div><!-- /.row -->
                    </div><!-- /.container -->
                </div>
            </card>
        </main>
    </div>
</div>


</body>
</html>