<!DOCTYPE html>
<html lang="en">

<head>
    <div th:replace="fragments/header :: page-start"></div>
    <title th:text="'Курс ' +${cryptMonitor.getCoinType().getNameOfCoin()}+ ' на бирже ' + ${cryptMonitor.getExchange()} + ' сегодня'"></title>
    <meta http-equiv="refresh" content="300">
    <meta name="keywords"
          content="курс криптовалюты к доллару, курс покупки криптовалюты, курс продажи криптовалюты, курс криптовалюты сегодня, курс криптовалюты, курсы криптовалют">
    <meta name="description" content="
    ➤ Курс покупки и продажи криптовалюты за день
    ✅ Текущий
    ✅ Максимальный
    ✅ Минимальный">
</head>

<body style="color:Black; background-color: #e7e8e8;">

<div th:replace="fragments/header :: top-navbar"></div>

<div class="container-fluid mt-3">
    <div class="card border-success">
        <div class="row">
            <div class="col-sm-12">
                <div class="card-header">
                    <h1><i>
                        <p th:text="'Курс ' +${cryptMonitor.getCoinType().getNameOfCoin()}+ ' на бирже ' + ${cryptMonitor.getExchange()} + ' сегодня'"/>
                    </i></h1>
                </div>
                <div class="card-body">

                    <div class="card mb-3">
                        <div class="card-header">
                            <h4 th:text="'Текущий курс покупки и продажи '+${cryptMonitor.getCoinType().getNameOfCoin()}+ ' на бирже ' + ${cryptMonitor.getExchange()}"></h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-sm-12">
                                    <h6 th:text="'Текущий курс покупки: '+'$'+${cryptMonitor.getBuyingRate()}"></h6>
                                </div>
                                <div class="col-12 col-sm-12">
                                    <h6 th:text="'Текущий курс продажи: '+'$'+${cryptMonitor.getSellingRate()}"></h6>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-3">
                        <div class="card-header">
                            <h4 th:text="'Минимальный курс покупки и продажи '+${cryptMonitor.getCoinType().getNameOfCoin()}+ ' на бирже ' + ${cryptMonitor.getExchange()} + ' сегодня'"></h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-sm-12">
                                    <h6 th:text="'Минимальный курс покупки: '+'$'+${minBuy}"></h6>
                                    <h6 th:text="'Минимальный курс продажи: '+'$'+${minSell}"></h6>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-3">
                        <div class="card-header">
                            <h4 th:text="'Максимальный курс покупки и продажи '+${cryptMonitor.getCoinType().getNameOfCoin()}+ ' на бирже ' + ${cryptMonitor.getExchange()} + ' сегодня'"></h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-sm-12">
                                    <h6 th:text="'Максимальный курс покупки: '+'$'+${maxBuy}"></h6>
                                    <h6 th:text="'Максимальный курс продажи: '+'$'+${maxSell}"></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
