<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="fragments/header :: page-start"></div>
    <meta http-equiv="refresh" content="30">
    <meta name="keywords" content="Перечень ключевых слов">
    <meta name="description" content="Содержимое мета-тега «description»">
    <title><p th:text="'Курс ' +${cryptMonitor.getCoinType()}+ ' на бирже ' + ${cryptMonitor.getExchange()}"/></title>
</head>
<body style="color:Black; background-color: #e7e8e8;">
<div th:replace="fragments/header :: top-navbar"></div>


<div class="container-fluid mt-3">
    <div class="card">

        <div class="row">
            <div class="col-sm-12">
                <div class="card-header">
                    <h1><i>
                        <p th:text="'Курс ' +${cryptMonitor.getCoinType()}+ ' на бирже ' + ${cryptMonitor.getExchange()}"/>
                    </i></h1>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-sm-12">
                            <h4 th:text="'Текущий курс покупки: '+'$'+${cryptMonitor.getBuyingRate()}"></h4>
                        </div>
                        <div class="col-12 col-sm-12">
                            <h4 th:text="'Текущий курс продажи: '+'$'+${cryptMonitor.getSellingRate()}"></h4>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-12 col-sm-12">
                            <h4 th:text="'Минимальный курс покупки за сегодня: '+'$'+${minBuy}"></h4>
                            <h4 th:text="'Максимальный курс покупки за сегодня: '+'$'+${maxBuy}"></h4>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-12 col-sm-12">
                            <h4 th:text="'Минимальный курс продажи за сегодня: '+'$'+${minSell}"></h4>
                            <h4 th:text="'Максимальный курс продажи за сегодня: '+'$'+${maxSell}"></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
